<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.wjf.mapper.EmployeeMapper">

    <resultMap id = "baseRes" type = "com.wjf.domain.Employee">
        <id property = "id" column = "id" jdbcType="INTEGER"/>
        <result property="lastName" column="last_name" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="INTEGER"/>
        <result property="birth" column="birth" jdbcType="TIMESTAMP"/>
        <result property="depId" column="dep_id" jdbcType="INTEGER"/>
    </resultMap>
    <select id="selectById" parameterType="java.lang.Integer" resultMap="baseRes">
        select * from employee where id =#{id}
    </select>
</mapper>