<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.wjf.mapper.UserMapper">

    <resultMap id = "baseRes" type = "com.wjf.domain.User">
        <result property = "id" column = "id" jdbcType="INTEGER"/>
        <result property = "username" column = "username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
    </resultMap>
    <select id = "getObjectById" resultMap = "baseRes">
        SELECT * FROM user where id = #{id};
    </select>
    <insert id="insert" parameterType="com.wjf.domain.User">
        insert  into user (username,password)values  (#{username},#{password})
    </insert>

    <select id="login" parameterType="com.wjf.domain.User" resultMap="baseRes">
        select * from user where username=#{username} and password =#{password}
    </select>
</mapper>
